<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<listener>
		<listener-class>com.yc.web.listeners.CleanRedisOnlineUserListen</listener-class>
	</listener>
	<listener>
		<listener-class>com.yc.web.listeners.InitListener</listener-class>
	</listener>
	
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.yc.web.filters.CharacterEncoding</filter-class>
		
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>resfoodServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.ResfoodServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resorderServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.ResorderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>verifyCodeServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resuserServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.ResuserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>indexServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.indexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>historyServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.HistoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActiveServlet</servlet-name>
		<servlet-class>com.yc.web.servlets.ActiveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.yc.test.MemberfeeByYear</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActiveServlet</servlet-name>
		<url-pattern>/active.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>historyServlet</servlet-name>
		<url-pattern>/history.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/index.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resuserServlet</servlet-name>
		<url-pattern>/resuser.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verifyCodeServlet</servlet-name>
		<url-pattern>/verifyCode.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resorderServlet</servlet-name>
		<url-pattern>/resorder.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resfoodServlet</servlet-name>
		<url-pattern>/resfood.action</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>